#u1037-4
{
	font-family: lato-n4, sans-serif;
}

#u1029-4
{
	font-family: lato-n4, sans-serif;
}

#u1044-4
{
	font-family: lato-n4, sans-serif;
}

#u1022-4
{
	font-family: lato-n4, sans-serif;
}

#u996-4
{
	font-family: lato-n4, sans-serif;
}

#u1002-4
{
	font-family: lato-n4, sans-serif;
}

#u160-4
{
	font-family: lato-n4, sans-serif;
}

#u139-4
{
	font-family: lato-n4, sans-serif;
}

#u148-4
{
	font-family: lato-n4, sans-serif;
}

#u124-4
{
	font-family: lato-n4, sans-serif;
}

#u152-4
{
	font-family: lato-n4, sans-serif;
}

#u135-4
{
	font-family: lato-n4, sans-serif;
}

#u937-4,#u1154-8,#u120-4,#u167-4,#u176-4,#u222-4,#u225-4,#u228-4,#u283-4,#u286-4,#u288-4,#u291-4,#u294-4,#u297-4,#u300-4,#u303-4,#u306-4,#u309-4,#u377-4,#u453-4,#u731-4,#u804-4,#u810-4,#u851-4,#u877-4,#u897-4,#u1086-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u168-4,#u177-4,#u223-4,#u226-4,#u229-4,#u285-4,#u287-4,#u289-4,#u292-4,#u295-4,#u298-4,#u301-4,#u304-4,#u307-4,#u310-4,#u378-4,#u454-4,#u732-4,#u805-4,#u815-4,#u840-4,#u872-4,#u896-4,#u1087-4,#u1098-4
{
	font-family: lato-n4, sans-serif;
}

#u1091-4
{
	font-family: lato-n4, sans-serif;
}

#u1103-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu1097_input,#widgetu1097_prompt,#widgetu1090_input,#widgetu1090_prompt,#widgetu1101_input,#widgetu1101_prompt
{
	font-family: lato, sans-serif;
}

#u1110-4
{
	font-family: lato-n4, sans-serif;
}
